*.o
.*.swp
__pycache__

code/helpers/spicmdif/out/

code/frontpanel/frontpanel
code/frontpanel/frontpanel.E
code/frontpanel/frontpanel.S
code/frontpanel/frontpanel.bin
code/frontpanel/frontpanel.dmp
code/frontpanel/frontpanel.syms
code/frontpanel/frontpanel_EEPROM.hex
code/frontpanel/frontpanel_Flash.hex

code/voltagemon/voltagemon
code/voltagemon/voltagemon.E
code/voltagemon/voltagemon.S
code/voltagemon/voltagemon.bin
code/voltagemon/voltagemon.dmp
code/voltagemon/voltagemon.syms
code/voltagemon/voltagemon_EEPROM.hex
code/voltagemon/voltagemon_Flash.hex

code/controller/controller
code/controller/controller.E
code/controller/controller.S
code/controller/controller.bin
code/controller/controller.dmp
code/controller/controller.syms
code/controller/controller_EEPROM.hex
code/controller/controller_Flash.hex
code/controller/eeprom.bin

