*.o
.*.swp
__pycache__

frontpanel/frontpanel
frontpanel/frontpanel.E
frontpanel/frontpanel.S
frontpanel/frontpanel.bin
frontpanel/frontpanel.dmp
frontpanel/frontpanel.syms
frontpanel/frontpanel_EEPROM.hex
frontpanel/frontpanel_Flash.hex

controller/controller
controller/controller.E
controller/controller.S
controller/controller.bin
controller/controller.dmp
controller/controller.syms
controller/controller_EEPROM.hex
controller/controller_Flash.hex
controller/eeprom.bin
